{% extends 'base.html' %}

{% block head %}
<title>Stocks Master</title>
{% endblock %}

{% block body %}


<h1 class="header" style="text-align: center">Adminland - Mohammed Perves</h1>

<div class="content">
    <h2>All News</h2>
    {% for article in news %}
    <tr>
        <td><b>Title:</b> {{article['title']}}</td><br>
        <td><b>Author:</b> {{article['author']}}</td><br>
        <td><b>Date Published:</b> {{article['date']}}</td><br>
        <td><b>Source:</b> {{article['source']}}</td><br>
        <td><b>Description:</b> {{article['description']}}</td><br>
        <br><br>
    </tr>
    {% endfor %}

    </div>
</div>

{% endblock %}