{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Home</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
					<li class="breadcrumb-item active"></li>
					</ol>
				</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			    <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
            <div class="row">
            <section class="col-lg-12">
              <!-- Custom tabs (Charts with tabs)-->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-user"></i>
                    Profile
                  </h3>
                  <div class="card-tools">
                  </div>
                </div><!-- /.card-header -->
                <div class="card-body">
                <div class="tab-content p-0">
                    <p>Your account details are below:</p>
                    <table>
                        <tr>
                            <td>Username:</td>
                            <td>{{ account['username'] }}</td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td>{{ account['password'] }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ account['email'] }}</td>
                        </tr>
                    </table>
            </div>
        </section>
        </div>
    </div>
</div><!-- /.card-body -->
{% endblock %}
