{% extends 'layout.html' %}

{% block title %}Trends{% endblock %}
<link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

{% block content %}
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Trading Strategies</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
					<li class="breadcrumb-item active"></li>
					</ol>
				</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			    <!-- Main content -->
			<section class="content">
      
			<div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
          <section class="col-lg-13 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-plus" mr-1"></i>
                  Add Stock
                </h3>
                <div class="card-tools">
                </div>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content p-0">
                    <!-- form start -->
                    <form class=form-horizontal" action="{{ url_for('ts', ticker=ticker) }}" method="POST" role="form" autocomplete="off">
                            <div class="card-body">
                              <div class="form-group row">
                                <label for="ticker" class="col-sm-2 col-form-label">Ticker</label>
                                <div class="col-sm-10">
                                  <input type="text" autocomplete="off" class="form-control" name="ticker" id="ticker" placeholder="Symbol lookup" onkeyup="liveSearch(this.value)">
                                  <br>
                                  <div class="dropdown" id="results"></div> <!-- Results will be printed here -->
                                </div>
                              </div>
        
                              <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Company Name</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" name="name" id="name" placeholder="Company Name" disabled>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                       <!-- /.card-body -->
                       <div class="card-footer">
                        <button type="submit" class="btn btn-info float-right">View Data</button>
                      </div>
                      <!-- /.card-footer -->
                      </form>
                </div>
            </div>
        </div><!-- /.card-body -->
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Market Data for <b>{{ticker}}</b></h5>
              <div class="card-tools" id="periodMenu">
                <button type="button" class="btn btn-tool btn-outline-dark" id="1d">1D</button>
                <button type="button" class="btn btn-tool btn-outline-dark" id="5d">5D</button>
                <button type="button" class="btn btn-tool btn-outline-dark" id="1m">1M</button>
                <button type="button" class="btn btn-tool btn-outline-dark" id="3m">3M</button>
                <button type="button" class="btn btn-tool btn-outline-dark" id="6m">6M</button>
                <button type="button" class="btn btn-tool btn-outline-dark" id="ytd">YTD</button>
                <button type="button" class="btn btn-tool btn-outline-dark" id="1yr"><a href='/getHist/GOOG'>1Y</a></button>
                <button type="button" class="btn btn-tool btn-outline-dark" id="3yr">3Y</button>
                <button type="button" class="btn btn-tool btn-outline-dark" id="5yr">5Y</button>
                <button type="button" class="btn btn-tool btn-outline-dark" id="max">MAX</button>
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="chart">


                    <h6 class='header center light'>WARNING, This website may hang during training, and do not use this website to buy real stock!<br><br>Default stock is Google 2018, you can try upload any stock CSV</h6>
                    <div class="row" style="padding-left:10px;padding-right:10px">
                      <div class="col s12 m12">
                        <div id="div_output" style="height: 500px;"></div>
                      </div>
                    </div>
                    <br>

                  </div>
                </div>
              </div>
            </div>
          </div>
    <div class="row">
    <section class="col-lg-12 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Historical Price Data (Overlapped for patterns)
          </h3>
          <div class="card-tools">
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content p-0">
            {{plots[0]|safe}} <br><br>
            {{plots[1]|safe}}
            <!-- /.chart-responsive -->
        </div>
    </div>
</div><!-- /.card-body -->



<section class="col-lg-13 connectedSortable">
    <!-- Custom tabs (Charts with tabs)-->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-plus" mr-1"></i>
          Compare
        </h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div><!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content p-0">
            <!-- form start -->
            <div class="form-group row">
              <label for="ticker" class="col-sm-2 col-form-label">Keywords</label>
              <div class="col-sm-10">
                <input type="text" autocomplete="off" class="form-control" name="ticker" id="ticker" placeholder="Interest over time" onkeyup="liveSearch(this.value)">
                <br>
                <div class="dropdown" id="results"></div> <!-- Results will be printed here -->
              </div>
            </div>


        </div>
    </div>
</div><!-- /.card-body -->
</div>


<script>
  function viewData(ticker, name){
      document.getElementById("ticker").value = ticker;
      document.getElementById("name").value = name;
  }
  function liveSearch(value){
    value = value.trim(); // remove any spaces around the text
    if(value != ""){ // don't make requests with an empty string
      $.ajax({
        url: "search",
        data: {searchText: value},
        dataType: "json",
        success: function(data){
          var res = "";
          // create the html with results
          for(i in data.results){
            res+= '<a href="#' + data.results[i][0] + '"onclick="viewData(\'' + data.results[i][0] + '\''  + ',' + '\''  + data.results[i][1] + '\')">'
            res += "<div>"
              for(j=0; j<2; j++){
                if (j<1){
                  res += data.results[i][j] + " | ";
                }
                else{
                  res += data.results[i][j]
                }
                
            }
            res+="</div>";
            res+="</a>";
          }
          $("#results").html(res);
          
        }

      });
    }
    else{
      $("#results").html(""); // set the results empty in case of empty string
    }
  }
</script>
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/materialize.min.js"></script>
<script src="static/js/echarts.min.js"></script>
<script src="static/js/echarts-gl.min.js"></script>
<script src="static/js/papaparse.min.js"></script>
<script src="static/js/google.js"> </script>
<script src="static/js/init.js"> </script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.1.js"></script>

    
{% endblock %}